<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Agresh Weds Ayushi</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	<script src="https://kit.fontawesome.com/e64edb2dad.js" crossorigin="anonymous"></script>
	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="/">Wedding<strong>.</strong></a></div>
				</div>
				{{!-- <div class="col-xs-10 text-right menu-1">
					<ul>
						<li class="active"><a href="/">Home</a></li>
						<li><a href="#fh5co-event">Events</a></li>
						<li><a href="#fh5co-couple-story">Story</a></li>
						<li><a href="#fh5co-gallery">Gallery</a></li>
					</ul>
				</div> --}}
			</div>
			
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover" role="banner"  data-stellar-background-ratio="0.5">
		<div class="img_wrapper">
			<img src="images/HomeBGImage.jpg" alt="HomeBGImage">
		</div>
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Agresh &amp; Ayushi</h1>
							<h2>We Are Getting Married!</h2>
							<div class="simply-countdown simply-countdown-one"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Hello!</h2>
					<h3>July 13th, 2021 Justa Rajputana, Udaipur</h3>
					<p>We invite you to celebrate our wedding</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src="images/groomImage.jpg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>Him</h3>
						<p>Hey folks, The name's Agresh, people usually call me Sonu. Heart and home belongs to beautiful city of Udaipur. Did my graduation in Chennai. In general seeking to take advantage of outdoors whenever I can, as travelling is love. And my soon to be wife would describe me as fun, loving, caring,innocent and metialcusly understanding.</p>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src="images/brideImage2.jpeg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>Her</h3>
						<p>Hi! Ayushi Agrawal here, born and brought up in Mandsaur. The things that keep me busy are my plants, my niece, crunching doritos and his video calls. I found love in our little tussels end this bond has turned out to be the best thing that has ever happened to me. I think he loves me for my honesty, nature and my everlasting love of our families.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url(images/img_bg_3.jpg);"> 
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Special</span>
					<h2>Wedding Events</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Main Ceremony</h3>
									<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
										<div class="event-col">
											<i class="fas fa-glass-cheers"></i>
											<span>Haldi</span>
											<span>Sangeet</span>
											<span>Mayra</span>
										</div>
										<div class="event-col">
											<i class="icon-clock"></i>
											<span>1:30 PM</span>
											<span>7:00 PM</span>
											<span>10:00 AM</span>
										</div>
										<div class="event-col">
											<i class="icon-calendar"></i>
											<span>July 12<span>
											<span>July 12</span>
											<span>July 13</span>
										</div>
									</div>
									<p>Here's to all the fun and love filled ceremonies that will embrace this wedding ceremonies to embrace.</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Wedding Party</h3>
									<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
										<div class="event-col">
											<i class="fas fa-glass-cheers"></i>
											<span>Reception</span>
											<span>Wedlock</span>
										</div>
										<div class="event-col">
											<i class="icon-clock"></i>
											<span>7:00 PM</span>
											<span>11:30 PM</span>
										</div>
										<div class="event-col">
											<i class="icon-calendar"></i>
											<span>July 13<span>
											<span>July 13</span>
										</div>
									</div>
									<p>Choose a seat not a side, we're all a family once the knot is tied. Let's embrace and bless this bond between Agresh ❤️ Ayushi and the families.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>We Love Each Other</span>
					<h2>Our Story</h2>
					<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline animate-box">
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(images/Pic4.jpeg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">First We Meet</h3>
									<span class="date">October 11th, 2020</span>
								</div>
								<div class="timeline-body">
									<p>Odh ke dhani preet ki chaadar aaya tere shehar mein Ranjha tera
										The very time we laid our eyes on each other there was something that just clicked.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(images/Pic5.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">First Date</h3>
									<span class="date">October 18th, 2020</span>
								</div>
								<div class="timeline-body">
									<p>We can never forget the night. We knew we were so in love and then we finally said the word!</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(images/Pic6.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">We Got Engaged</h3>
									<span class="date">October 29th, 2020</span>
								</div>
								<div class="timeline-body">
									<p>The rings were exchanged. The families were mingled. This day we were another step closer to our happily ever after.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-inverted">
							<div class="timeline-badge" style="background-image:url(images/Pic7.JPG);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">The Wedding Bells</h3>
									<span class="date">July 13th, 2021</span>
								</div>
								<div class="timeline-body">
									<p>This couldn't have been more perfect. The perfect city, the perfect people and most importantly the perfect us.</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-gallery" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Memories</span>
					<h2>Wedding Gallery</h2>
					<p>Come lets take a peek a boo of this amazing bond..!</p>
				</div>
			</div>
			<div class="row row-bottom-padded-md">
				<div class="col-md-12">
					<ul id="fh5co-gallery-list">
						
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery1.jpeg);"> 
						<a href="images/gallery1.jpeg">
							<div class="case-studies-summary">
								<h3>Bit Bumpy Lot Breezy</h3>
							</div>
						</a>
					</li>
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery2.jpeg); ">
						<a href="images/gallery2.jpeg" class="color-2">
							<div class="case-studies-summary">
								<h3>Compulsory Hugs Per Day</h3>
							</div>
						</a>
					</li>


					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery4.jpeg); ">
						<a href="images/gallery4.jpeg" class="color-3">
							<div class="case-studies-summary">
								<h3>Ashes forever 💖</h3>
							</div>
						</a>
					</li>
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery5.jpeg); ">
						<a href="images/gallery5.jpeg" class="color-4">
							<div class="case-studies-summary">
								<h3>Distances Will Never Matter</h3>
							</div>
						</a>
					</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery6.jpeg); ">
							<a href="images/gallery6.jpeg" class="color-3">
								<div class="case-studies-summary">
									<h3>Hey Good Memories</h3>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery7.jpeg); ">
							<a href="images/gallery7.jpeg" class="color-4">
								<div class="case-studies-summary">
									<h3>Will keep trying ❤️</h3>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery8.jpeg); ">
							<a href="images/gallery8.jpeg" class="color-4">
								<div class="case-studies-summary">
									<h3>Silly Souls!!</h3>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery9.jpeg); "> 
							<a href="images/gallery9.jpeg" class="color-5">
								<div class="case-studies-summary">
									<h3>We Got Ayushi</h3>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery10.jpeg); ">
							<a href="images/gallery10.jpeg" class="color-6">
								<div class="case-studies-summary">
									<h3>We Got Agresh</h3>
								</div>
							</a>
						</li>
					</ul>		
				</div>
			</div>
		</div>
	</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>

	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>

	<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
	<script src="js/simplyCountdown.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	<script>
    var d = new Date(new Date().getTime() + 200 * 120 * 120 * 2000);

    // default example
    simplyCountdown('.simply-countdown-one', {
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate()
    });

    //jQuery example
    $('#simply-countdown-losange').simplyCountdown({
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate(),
        enableUtc: false
    });
</script>

	</body>
</html>

